body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: red;
}
ul{
    width: 630px;
    list-style: none;
    display: flex;
    margin: 250px auto;
    font-size: 25px;
    padding: 25px;
    color: white;
}
li{
    transition: 0.2s;
    margin: 0 18px;
}
ul li:hover{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}