body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
    width: 400px;
    height: 220px;
    background-color: rgb(89, 89, 253);
    padding: 20px;
}
li{
    margin: 20px 0;
}
.box1{
    margin-left: 25px;
    font-size: 25px;
    
}
