body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    display: flex;
    list-style: none;
}
li{ 
    margin: 1px;
    border: 1px solid black;
    width: 100px;
    height: 20px;
    color: blue;
    font-size: 19px;
    padding: 3px;
}